<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patient</title>

    <style>
        body { font-family: Arial; margin: 20px; }

        input, select {
            display: block;
            margin: 5px 0 10px 0;
            padding: 5px;
        }

        button {
            background-color: pink;
            border: none;
            padding: 8px;
        }
    </style>
</head>
<body>

<h2>Add New Patient</h2>

<form th:action="@{/patient/add}" th:object="${patient}" method="post">

    Insurance Number:
    <input type="text" th:field="*{insuranceNumber}">

    First Name:
    <input type="text" th:field="*{firstName}">

    Last Name:
    <input type="text" th:field="*{surname}">

    Gender:
    <select th:field="*{gender}">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Female">Divers</option>
    </select>

    Birth Date:
    <input type="date" th:field="*{birth}">

    <button type="submit">Save</button>

</form>

<a href="/">Back</a>

</body>
</html>