<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Radiology</title>

    <style>
        body {
            font-family: Arial;
            margin: 20px;
        }

        a {
            display: inline-block;
            margin: 5px;
            padding: 8px 12px;
            background-color: pink;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: hotpink;
        }
    </style>
</head>
<body>

<h1>Radiology Institute</h1>

<p>Date: <span th:text="${today}"></span></p>

<a href="/patient/add">Add Patient</a>
<a href="/patient/list">Patient List</a>
<a href="/reservation/add">Add Reservation</a>
<a href="/reservation/list">Reservation List</a>

</body>
</html>