<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>

    <style>
        body { font-family: Arial; margin: 20px; }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            padding: 5px;
        }

        a {
            background-color: pink;
            padding: 5px;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>

<h2>Reservation List</h2>

<table>
    <tr>
        <th>Patient</th>
        <th>Device</th>
        <th>Time</th>
        <th>Body Region</th>
        <th>Comment</th>
    </tr>

    <tr th:each="r : ${reservations}">
        <td th:text="${r.patientName}"></td>
        <td th:text="${r.deviceId}"></td>
        <td th:text="${r.reservationTime}"></td>
        <td th:text="${r.bodyRegion}"></td>
        <td th:text="${r.comment}"></td>
    </tr>
</table>

<br>
<a href="/reservation/add">Add Reservation</a>
<a href="/">Back</a>


</body>
</html>